<h2></h2>

<h3>Name</h3>
<input class="customer-name" />

<h3>Email Address</h3>
<input class="customer-email-address" />

<h3>Firstname</h3>
<input class="customer-firstname" />

<h3>Lastname</h3>
<input class="customer-lastname" />

<h3>Address</h3>
<input class="customer-address" />

<h3>City</h3>
<input class="customer-city" />

<h3>Province</h3>
<input class="customer-province" />

<h3>Postal Code</h3>
<input class="customer-postal-code" />

<h3>Phone Number</h3>
<input class="customer-phone-number" />

<h3>Mobile</h3>
<input class="customer-mobile" />


<ce-button class="save-button">Save</ce-button>
<ce-button class="delete-button">Delete</ce-button>

